Dockerfile
.env.local
.env.producation
node_modules
npm-debug.log
README.md
.next
!.next/static
!.next/standalone
.git


.dockerignore
.gitignore
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.turbo
.vscode/
.cursor/
tsconfig.tsbuildinfo
k8s
