---
services:
  dashboard:
    build:
      context: .
      dockerfile: .github/.docker/Dockerfile
      target: production
      args:
        NODE_TAG: ${NODE_TAG:-22-alpine}
        NGINX_TAG: ${NGINX_TAG:-alpine}
    container_name: dashboard-dev
    restart: unless-stopped
    ports:
      - "${PORT_UI:-4011}:80"
    volumes:
      - ./apps/api/public:/home/node/app/dist/assets
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - NEXT_PUBLIC_TINY_MCE_API_KEY=${NEXT_PUBLIC_TINY_MCE_API_KEY}
      - NEXT_PUBLIC_API_URL=
      - GEMINI_MODEL=${GEMINI_MODEL:-gemini-2.5-flash}
    networks:
      - dockerization

networks:
  dockerization:
    driver: bridge
